/*
Custom Css
*/

.image-size {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.cart-main {
  margin: 2rem;
}

.puchesh {
  background: rgb(246, 245, 245);
  padding: 10px;
  border-radius: 5px;
}
